.signup {
  /*background-color: #424242;*/
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sformcontainer {
   width: 80vh; 
   height: 70vh;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: -1px 1px 12px 1px #e6e6e6;
}

#susername, #spassword, #sconfpassword, #sbio, #ssignup {
  display: block;
  width: 60vh;
  outline: 0;
  margin-right: 4vh;
}

#sbio {
  resize: none;
  outline: 0;
}

#ssignup {
  width: 18vh;
  height: 6vh;
  margin-top: 3vh;
  /*color: #424242;*/
  color: white;
  /*background-color: white;*/
  background-color: #424242;
  border: none;
  outline: 0;
  margin-right: 2vh;
  margin-left: 20vh;
}

#ssignup:hover {
  background-color: #7c7c7c;
}

.slabel {
  /*color: white;*/
  /*color: #424242;*/
  color: #242424;
}
