.section1 {
  height: 24vh;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: #424242;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section2 {
  height: 76vh;
  overflow-y: auto;
}

.profileimg {
  /*height: 60%;
  width: 15%;*/
  height: 80%;
  width: 100%;
  margin-top: 3vh;
}

.row1 {
  display: flex;
  flex-direction: row;
  /*background-color: lightblue; will be back */
  width: 100%;
  height: 80%;
}

.row2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
}

.r1c1 {
  display: flex;
  flex-direction: column;
  /*background-color: pink; will be back */
  width: 20%;
  height: 100%;
}

.r1c2 {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  /*background-color: lightpink;*/
}

.r1c2-r1 {
  display: flex;
  flex-direction: row;
  /*background-color: red;*/
  width: 100%;
  height: 40%;
}

.r1c2-r1-c1 {
  display: flex;
  flex-direction: column;
  /*width: 30%;*/
  margin-left: 2vh;
  margin-top: 2vh;
  font-size: 20px;
  color: #424242;
  /*height: 100%;*/
  /*background-color: green; will be back */
}

.r1c2-r1-c2 {
  display: flex;
  flex-direction: column;
  margin-left: 2vh;
  margin-top: 2vh;
  /*width: 30%;*/
  /*height: 100%;*/
  /*background-color: lightgreen; will be back */
}

.r1c2-r2 {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 60%;
  margin-left: 8vh;
  white-space: pre-wrap;
  /*margin-top: 2vh;*/
  /*margin-bottom: 2vh;*/
  /*background-color: lightyellow; will be back */ 
}

.userRecipes {
  margin-left: 2vh;
  margin-bottom: 0.5vh;
  align-self: flex-end;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer
}


.userBio {
  /*background-color: lightgreen;*/
  height: 100%;
  white-space: pre-wrap;
}

