.sidebar {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(120deg, #252525, #5c5c5c);
  width: 120vh;
  height: 100vh;
}

.foodlogo {
  width: 100%;
  height: 40%;
  align-self: flex-end;
}

.middle {
  width: 100%;
  flex-grow: 1;
}

.filterlogo {
  align-self: flex-start;
  height: 6%;
  width: 10%;
  margin-top: 2vh;
  margin-left: 2vh;
  cursor: pointer;
}

.filterlogodiv {
  display: flex;
  flex-direction: row;
  height: 100%;
  width:100%;
}

.filtertext {
  color: white;
  margin-left: 4vh;
  margin-top: 3vh;
  font-size: 18px;
}
