.sidebar {
  display: flex;
  flex-direction: column;
  /*background-color: #424242;*/
  background-image: linear-gradient(120deg, #252525, #5c5c5c);
  width: 120vh;
  height: 100vh;
  /*cursor: pointer;*/
}

.foodlogo {
  width: 100%;
  height: 40%;
  align-self: flex-end;
}

.middle {
  width: 100%;
  flex-grow: 1;
}

.filterlogo {
  align-self: flex-start;
  height: 4%;
  width: 8%;
  margin-top: 2vh;
  margin-left: 2vh;
  cursor: pointer;
}

